
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />-->
<!--<script src="http://code.jquery.com/jquery-1.8.3.js"></script>-->
<!--<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>-->

<script>
 $(function() {

    //------------------DEFINITIONS-----
    HB=Handlebars;
    function log(p){
    if (console != undefined){
        console.log(p)
    }
    };
    window.App={action:"<%=@action %>",
                zayavka_id:<%=@zayavka_id %>,
                models:{},
                collections:{},
                forms:{zayavka:{},have_arr:[],want_ar:[]},
                protocol:"http://",
                baseUrl:"<%= request.env["HTTP_HOST"]; %>/"
    };
    App.setCond=function(cond){
        return cond.replace(/&gt;/,">").replace(/&lt;/,"<")
    };
    HB.registerHelper('ifCond', function(v1, v2, options) {
         if(v1 == v2) {
             return options.fn(this);
         }
         return options.inverse(this);
     });
     HB.registerHelper('if-in', function(v1, v2, options) {
         if(v2.indexOf(v1) !=-1) {
             return options.fn(this);
         }
         return options.inverse(this);
     });
    //----------------------------ROUTER------------------------------------
     App.Router = Backbone.Router.extend({
         routes: {
             "admin/zayavkas/new":       "zayavkaNewFun",   // #new
             "admin/zayavkas/:id/edit":  "zayavkaEditFun",  // #update
             "admin/zayavkas/:id":       "zayavkaShowFun"   // #show
         },
         zayavkaNewFun: function() {
             App.action="new";
             console.log("Router action="+ App.action);
         },
         zayavkaEditFun: function(id) {
             App.action="edit";
             App.zayavka_id=<%=@zayavka_id %>
             console.log("Router action="+ App.action+" id="+App.zayavka_id+" id="+id);
         },
         zayavkaShowFun: function(id,q) {
             App.action="show";
             App.zayavka_id=id;
             console.log("Router action="+ App.action+" id="+App.zayavka_id+" q="+q);
         }
     });
    //----------------------------MODELS------------------------------------
    App.Zayavka = Backbone.Model.extend({
        urlRoot:App.protocol+App.baseUrl+"zayavkas/",
       ////// url:App.protocol+App.baseUrl+"zayavkas/",
        initialize: function(){
            this.zayavka_fields=eval('<%=@zayavka_fields; %>'.replace(/&quot;/g,'"'));
            if (App.action =="edit")  {
                //this.set({id:<%=@zayavka_id %>})
                zz="["+'<%=@zayavka; %>'.replace(/&quot;/g,'"')+"]";
//                log('zayavka data')
//                log('<%=@zayavka; %>')
//                this.defaults={}
                this.set(eval(zz)[0])
                //this.fetch()
            }
//            console.log("SERVER_NAME="+"<%= request.env["SERVER_NAME"]; %>");
//            console.log("REQUEST_URI="+"<%= request.env["REQUEST_URI"]; %>");
//            console.log("HTTP_HOST="+"<%= request.env["HTTP_HOST"]; %>");
        },
        defaults: {
//            id:  111,
            name:       'Text',
            created_at: 'DateTime',
            updated_at: 'DateTime',
            tel_1: 'Text',
            tel_2: 'Text',
            dop: 'Text',
            info_type_id:  0,
            info_source_id:0,
            contact_id:0,
            published:1
           // haves:[],
           // wants:[]
        },
        validate: function(attrs) {
         return;
        },
        fillUIFields:function(){

        },
        pickAttributes:function(name){//--собрать все аттрибуты для заявки
            var attr_arr,param,tabs_cnt;
            var rec={},rec_wishlist={}
            if (name=="zayavka"){
              var z_attr_arr=$("*[id^='z-']:not(disabled)");
              for (var i=0; i<z_attr_arr.length;i++){
                  param = _.last(z_attr_arr[i].id.split("-"));
                  App.models.zayavka.attributes[param]=z_attr_arr[i].value
              }
            }
            if (name=="haves"){
                App.models.zayavka.attributes['haves']=[];//RESET
                tabs_cnt=$('#tbs-haves').tabs('tabs').length;
                for (var i=0; i<tabs_cnt;i++){
                    rec={};
                    attr_arr=$("*[id^='hh-"+i+"']:not(disabled)");
                    for (var j=0; j<attr_arr.length;j++){
                       param = _.last(attr_arr[j].id.split("-"));
                       console.log("param="+param)
                       rec[param]=attr_arr[j].value;
                       if (attr_arr[j].type=="checkbox") {
                           if (attr_arr[j].checked) {
                                  rec[param]=1;
                           } else {rec[param]=0;}
                       }
                    }
                    if (App.action=="new") {
                        App.models.zayavka.attributes['haves'].push(rec)
                    }
                    if (App.action=="edit") {
                        App.collections.haves.models['haves'].push(rec)
                    }
                }
                //console.log("PICK haves")
                //console.log(App.models.zayavka.attributes['haves'])
            }
            if (name=="wants"){
                var start;
                App.models.zayavka.attributes['wants']=[];//RESET
                tabs_cnt=$('#tbs-wants').tabs('tabs').length;
                for (var i=0; i<tabs_cnt;i++){
                    rec_wishlist={};
                    attr_arr=$("*[id*='"+i+"-wishlist']:not(disabled)");
                    attr_length=attr_arr.length;
                    if (attr_length <=0) { $.messager.alert('Error',"Fill wish list!",'error');return;}
                    start=0;
                    row_wishlist=[]
                    do {
                        rec={};
                        rec['field']=attr_arr[start].value;
                        rec['cond'] =attr_arr[start+1].value;
                        rec['value']=attr_arr[start+2].value;
                        row_wishlist.push(rec)
                        start=start+3;
                    } while (start<attr_length)
                    rec_wishlist.variant =$("#wish-variant-"+i).val()
                    rec_wishlist.wishlist=row_wishlist
                    App.models.zayavka.attributes['wants'].push(rec_wishlist)
                }
                console.log("PICK wants tabs_cnt="+tabs_cnt)
                console.log(App.models.zayavka.attributes['wants'])
            }
        },
        zayavkaSave:function(){
          confirm("Save zayavka?");

          this.pickAttributes("zayavka");
          this.pickAttributes("haves");
          this.pickAttributes("wants");
          if ((App.models.zayavka.attributes['haves']).length==0 && (App.models.zayavka.attributes['wants'].length==0)){
              $(".l-btn").css("width","70px");//--hack
              $.messager.alert('Error',"Fill have or want!",'error');
              return;
          }
          App.models.zayavka.save().error(function(e){
              console.log(e);
              $.messager.alert('Error',"Status=("+ e.status+")"+e.statusText,'error');
          }).success(function(e){
              //$.messager.alert('OK!','Zayavka data saved!','info');
              $.messager.confirm('Zayavka confirm','Zayavka data saved!\nAdd new one?',function(r){
                  if (r){
                      console.log("zayavka EDIT "+App.models.zayavka.id)
                      App.router.navigate(App.protocol+App.baseUrl+"admin/zayavkas/edit/"+App.models.zayavka.id)
                  } else{
                      App.models.zayavka.clear();
                      console.log("zayavka CLEAR")
                  }
              });
                  });
          console.log("PICK zayavka all")
          console.log(App.models.zayavka.attributes)
        },
        show: function (action){
               console.log(action)
               App.zayavka_form = new Backbone.Form(App.Zayavka_item_form);
               //---fill models data
               App.main_view= new App.MainView();
               App.main_view.addHaveForm();
               //---generate templates in TABS
               $("#tbs-haves").tabs(
                   {
                       width:"550px",
                       height:"auto",
                       border:true,
                       fit:false,
                       tools: App.main_view.getTabsTools("have"),

                       onBeforeClose: function(title,index){
                           return confirm('Are you sure you want to close ' + title+" tab n="+index+" ?");
                       },
                       onAdd:function(title,index){
                           console.log("onAdd "+index)
                           App.main_view.initHaveEvents(index);

                       },
                       onSelect:function(title,index){
                           //alert(title+' is selected');
                           $(".tabs-selected a.tabs-inner ").css({ 'background-color':'#FFFFDD'});//.tabs li
                           App.main_view.cur_have_item = index;//App.main_view.getHaveTabIndex();
                       }
                   }
               );//idTabs();
               $("#tbs-wants").tabs({
                   width:"550px",
                   height:"auto",
                   border:true,
                   fit:false,
                   tools: App.main_view.getTabsTools("want"),
                   onAdd:function(title,index){
                       console.log("onAdd want "+index)
                       App.main_view.initWantEvents(index);

                   },
                   onSelect:function(title,index){
                       $(".tabs-selected a.tabs-inner ").css({ 'background-color':'#FFFFDD'});
                       $("#wish-attrib-panel-"+index).css({'height':'45px'});
                       App.main_view.cur_want_item = index;
                   }})
               //--init data TABS
               $("#tbs-haves").tabs("getTab",0).html(App.main_view.addHaveForm());
               $("#tbs-wants").tabs("getTab",0).html(App.main_view.addWantForm());
               App.main_view.initHaveEvents(0);
               App.main_view.initWantEvents(0);
               App.main_view.initZayavkaEvents(0);
               //--css hack
                $(".tabs-panels .panel").css({'margin-bottom':"1px"});

        }
    });

    App.Have = Backbone.Model.extend({
        urlRoot:App.protocol+App.baseUrl+"haves/",
        defaults: {
            "room":0,
            "rayon_id":0,
            "street_id":0
        }
    });
    App.Want = Backbone.Model.extend({
        urlRoot:App.protocol+App.baseUrl+"wants/",
        defaults: {
            "obj_id":0,
            "price_want":0
        }
    });
    //--------attributes models------------
     App.Wishlist = Backbone.Model.extend({
         urlRoot:App.protocol+App.baseUrl+"wish_lists/"
     });
     App.Contact = Backbone.Model.extend({

     });
     App.InfoType = Backbone.Model.extend({

    });
    App.InfoSource = Backbone.Model.extend({
        defaults: {
            name: '',
            info_url: '',
            info_type: 0,
            created_at:''
        }
    });

    //----------collection common method---------------------------
     Backbone.Collection.prototype.getSelectOptions=function(){
         var options_arr=[{val:0,label:"select item..."}];
         for (var i in this.models) {
             options_arr.push({val:this.models[i].attributes.id,label:this.models[i].attributes.name})
         }
         return options_arr;
     };
     Backbone.Collection.prototype.fillHtmlSelect=function(dom_id,val_field) {
         console.log("fillHtmlSelect dom_id="+dom_id);
         var value_str="";
         var out_str="<option value=0>Select item...</option>";
         for (var i in this.models) {
             if (val_field != undefined) {
                 value_str=this.models[i].attributes[val_field]; //.field_name;
             }else {
                 value_str=this.models[i].attributes.id;
             }
             out_str=out_str+"<option value='"+value_str+"'>"+this.models[i].attributes.name+"</option>";

         }
         $("#"+dom_id).html(out_str);
     }
     //---------collection CLASS---------------------------------------
     App.InfoSources = Backbone.Collection.extend({
         url:App.protocol+App.baseUrl+"info_sources/",
         model: App.InfoSource,
         parse: function(response) {
                 //console.log("RESP 0: "+response[0]);
                return response;
         },
         initialize: function () {
             this.bind("reset", function (model, options) {
                 console.log("InfoSources Inside event");
                 console.log(model);

                 });
         }
     });
     App.HaveFields = Backbone.Collection.extend({
         url:"http://"+App.baseUrl+"HaveFields.json/",
         fillWishFromCmb: function(index){
             var out_str="";
             for (var i in this.models) {
                 out_str=out_str+"<option value='"+this.models[i].attributes.field_name+"'>"+this.models[i].attributes.name+"</option>";
             }
             $("#wish-from-cmb-"+index).html(out_str);
         }
     });
     App.Statuses = Backbone.Collection.extend({
         //url:"http://"+App.baseUrl+"objs/",
     });
     App.Rents = Backbone.Collection.extend({
         //url:"http://"+App.baseUrl+"objs/",
     });
     App.Objs = Backbone.Collection.extend({
         url:"http://"+App.baseUrl+"objs/",
     });
     App.States = Backbone.Collection.extend({
         url:"http://"+App.baseUrl+"states/",
     });
     App.InfoTypes = Backbone.Collection.extend({
         url:"http://"+App.baseUrl+"info_types/",
     });
     App.Rayons = Backbone.Collection.extend({
         url:"http://"+App.baseUrl+"rayons/",
         setStreet: function(dom_id,code_rayon,code_street) {
             App.collections.streets.getStreetsInRayon(code_rayon).done(function (res){
                 var select_items=App.collections.streets.getSelectOptions();
                 var options_html="",selected_str="";
                 for (item in select_items){
                     if (select_items[item].val == code_street){
                              selected_str="selected"
                     } else { selected_str="";}
                     options_html= options_html+"<option "+selected_str+" value='"+select_items[item].val+"'>"+select_items[item].label+"</option>"
                 }
                 $(dom_id).html(options_html);
             })
         }
     });
     App.Streets = Backbone.Collection.extend({
         rayon_id:0,
         //urlMain:"http://"+App.baseUrl+"streets/inrayon/",
         url:"http://"+App.baseUrl+"streets/inrayon/",
         getStreetsInRayon:function(rayon_id){
             //--common cmb
             this.rayon_id=rayon_id;
             this.url="http://"+App.baseUrl+"streets/inrayon/" + String(this.rayon_id)
             //console.log("this.url="+this.url+" this.rayon_id="+this.rayon_id)
             var streets_list=this.fetch();
             return streets_list;

         }
     });
     App.Haves = Backbone.Collection.extend({
        urlRoot:App.protocol+App.baseUrl+"haves/",
        model: App.Have
     });
     App.Wants = Backbone.Collection.extend({
        urlRoot:App.protocol+App.baseUrl+"wants/",
        model: App.Want
     });
     App.Wishlists = Backbone.Collection.extend({
         urlRoot:App.protocol+App.baseUrl+"wish_lists/",
         model: App.Wishlist,
         setToModel:function(dom_id){
             var index=App.main_view.cur_want_item;
             var field_name=$("#"+dom_id).attr("id").split("-").pop();
             var field_value=$("#"+dom_id).val();
             var row_id = $("#"+dom_id).attr("row_id");
             console.log("BIND TO MODEL dom_id="+dom_id);
             console.log("BIND TO MODEL name="+field_name);
             console.log("BIND TO MODEL val="+field_value);
             console.log("setToModel index="+index+" field="+field_name+" value="+field_value+" row_id="+row_id);

             var rows=this.models[index].attributes;
             if (dom_id.search(/-cond-/) != -1){//---data from COND FIELD
                 rows[row_id]['field_cond']=field_value
             }else {
                if (rows[row_id]['field_name'] == field_name) {
                   rows[row_id]['field_value']=field_value
                } else {//--add from panel
                    rows[row_id]['field_name']=field_name
                    rows[row_id]['field_value']=field_value
                }
             }

         }
     });

    //-----------------FORMS---------------------------------
    //App.zayavka_form = new Backbone.Form({
    App.Zayavka_item_form = {
        //fields: ['id','created_at','updated_at','name','tel_1'],
        initialize: function(){
           //this.schema=this.setFormSchema();
        },
        idPrefix:"z-",
        model:  App.models.zayavka,
        schema:
                {
                    id:    {type:'Number',template:'field'},
                    name:  {type:'Text',template:'field',validators: ['required']},
                    tel_1: {type:'Text',template:'field'},
                    tel_2: {type:'Text',template:'field'},
                    created_at: {type:'Text',template:'field'},
                    updated_at: {type:'Text',template:'field'},
                    status_id:  { type: 'Select', options:  [],template:'field'  },
                    info_type_id:  { type: 'Select', options: [],template:'field_clear' },
                    info_source_id:{ type: 'Select', options: [],template:'field' },
                    contact_id: { type: 'Select',title:"Contact", options: [{val:0,label:"???"}],template:'field' },
                    dop:  {type:'Text',template:'field',template:'field'},

                    published: {type: 'Checkbox',template:'field_br'}

                }

    };//.render();
     //---------------Have Item form-------------------------
     //App.Have_item_form = Backbone.Form({
     App.Have_item_form = {
         //fields: ['obj','roomt','dop'],
         setN:function (cur_n) {
             this.idPrefix="hh-"+cur_n+"-";
         },
         idPrefix:"hh-",
//         model: App.models.haves,
         schema:{
             obj_id: { type: 'Select',options:["111","222"],template:'field'},
             room: {type:'Number',template:'field'},
             price_estimate: {type:'Number',template:'field'},
             price_want:{type:'Number',template:'field'},
             torg:{type: 'Checkbox',template:'field'},
             floor:{type:'Number',template:'field_clear'},
             floor_house:  {type:'Number',template:'field'},

             rayon_id: {type: 'Select',options:[],template:'field_clear'},
             street_id:{type: 'Select',options:[],template:'field'},

             house_n: {type: 'Text',template:'field_clear'},
             flat_n:  {type: 'Text',template:'field'},

             orientir: {type: 'Text',template:'field_clear'},

             s_all: {type: 'Number',template:'field_clear'},
             s_live:{type: 'Number',template:'field'},
             s_kux :{type: 'Number',template:'field'},
             state_id:  {type:'Select',options:[],template:'field'},
             year: {type:'Number',template:'field'},

             tel_1:{type:'Text',template:'field_br'},
             dop:{type:'TextArea',template:'field_br'},


            obmen_want:{type: 'Checkbox',template:'field'},
            sell_want: {type: 'Checkbox',template:'field'},
            rent_want: {type: 'Checkbox',template:'field_br'}
         }
     };
    //-----------------VIEWS----------------------------------

     App.templates = {
         //field is the default template used
         field: '\
            <div style="float:left;margin: 5px;"  >\
              <label for="{{id}}">{{title}}</label>\
              <div>{{editor}}</div> <div>{{help}}</div>\
            </div>\
          ',
         //Specify an alternate field template
         fieldPrice: '\
            <div  style="width:10%;float:left;margin:5px;" >\
              <label for="{{id}}">{{title}}</label>\
              <div>{{editor}}</div> <div>{{help}}</div>\
            </div>\
          ',
         field_br: '\
            <div style="float:left;margin:5px;display:block;"  >\
              <label for="{{id}}">{{title}}</label>\
              <div>{{editor}}</div> <div>{{help}}</div>\
            </div>\
          ',
         field_clear: '\
            <div style="float:left;margin:5px;clear:both;"  >\
              <label for="{{id}}">{{title}}</label>\
              <div>{{editor}}</div> <div>{{help}}</div>\
            </div><div class="clear"></div>\
          ',
     };
     App.MainView = Backbone.View.extend({
        id:'#zayavka-tpl',
        wi:0,
        wish_rows:[],
        cur_have_item:0,
        cur_want_item:0,
        last_have_item:0,
        last_want_item:0,
        initialize: function(){
            this.wish_rows[0]=0
            //---change template tags
           /// this.on("haveFormShow",this.addHaveForm,this);
            _.templateSettings = {
                interpolate : /\{\{([\s\S]+?)\}\}/g
            };
            this.render();
        },
        events: {
          "haveFillStreet":"fillStreets",
          "haveFormShow":"addHaveForm"
        },
        initZayavkaEvents:function(){
            $("#z-created_at,#z-updated_at").attr({"disabled":"disabled","placeholder":"today"})
            if (App.action=="new"){
                $("#zayavka_save").click(function(){App.models.zayavka.zayavkaSave();});
                $("#z-id").attr({"disabled":"disabled","placeholder":0})
                $("#z-published").val(1).attr("checked",1);
            }
            if ((App.action=="view") || (App.action=="edit")){
                $("#zayavka_save_btn").remove();
                $("#z-id").attr({"disabled":"disabled","placeholder":App.models.zayavka.attributes.id})
                this.bindZayavkaFormAttributes();
                this.bindHavesFormAttributes();
                this.bindWantsFormAttributes();
            }
        },

        bindZayavkaFormAttributes:function(){
            var model_fields=App.models.zayavka.zayavka_fields
            var model_attr=App.models.zayavka.attributes
            for (var i=0; i<model_fields.length;i++){
                var field_name=model_fields[i]
                var el=$("#z-"+field_name);
                if ((el.prop("type")=="checkbox")&&(model_attr[field_name] ==1)){
                     el.prop("checked",true)
                }
                el.val(model_attr[field_name]);
            }
        },
        bindHavesFormAttributes:function(){
            var tbs_l=App.collections.haves.length;
            if (tbs_l>1){
                for (var i=1;i<tbs_l;i++){
                    App.main_view.addHaveTab();
                }
                $('#tbs-haves').tabs("select",0)
            }
            for (var i=0;i<tbs_l;i++){
                var rec=App.collections.haves.at(i).attributes;
                for (var field in rec){
                    var value=rec[field]
                    if (value == ""){continue;}
                    var el=$("#hh-"+i+"-"+field)
                    if ((el.prop("type")=="checkbox")&&(value ==1)){
                        el.prop("checked",true)
                    }
                    el.val(value)
                    //---rayon--street
                    if (field=="rayon_id"){
                        var rayon_dom_id="#hh-"+i+"-street_id";
                        var code_rayon=value;
                        log("rayon_dom_id="+rayon_dom_id)
                        App.collections.rayons.setStreet(rayon_dom_id,code_rayon,rec.street_id)
                    }
                }

            }
        },
        bindWantsFormAttributes:function(){
            var tbs_l=App.collections.wants.length;
            if (tbs_l>1){
                for (var i=1;i<tbs_l;i++){
                    App.main_view.addWantTab();
                }
            }
            for (var i=0;i<tbs_l;i++){
                App.main_view.cur_want_item=i;
                var fields = App.collections.wishlists.models[i].attributes;//---!!!---
                for (var f in fields){
                    console.log("bindWantsFormAttributes")
                    console.log(f)
                    console.log(fields[f])
                    var params_set={field_value:fields[f]['field_value'],field_cond:App.setCond(fields[f]['field_cond'])};//---SET VALUE FROM MODEL
                    App.main_view.addWishAttribContent(fields[f]['field_name'],fields[f]['field_name'],params_set);

                }
            }
            $('#tbs-wants').tabs("select",0);

        },
        setHaveTabTitle:function(index){

        },
        getTabsTools:function(tabs_name){
            var tool_help={
                iconCls:'icon-help',
                handler:function(){
                    if (tabs_name=="have"){
                        App.main_view.historyHaveTab();
                    }
                    if (tabs_name=="want"){
                        App.main_view.historyWantTab();
                    }
                }
            };
            var tool_add={
                iconCls:'icon-add',
                handler:function(){
                    if (tabs_name=="have"){
                        App.main_view.addHaveTab('icon-add');
                    }
                    if (tabs_name=="want"){
                        App.main_view.addWantTab('icon-add');
                    }
                }
            };
            var tool_save={
                iconCls:'icon-save',
                handler:function(){
                    if (tabs_name=="have"){
                        App.main_view.saveHaveTab();
                    }
                    if (tabs_name=="want"){
                        App.main_view.saveWantTab();
                    }


                }
            };
            var tool_remove={
                iconCls:'icon-remove',
                handler:function(){
                    if (tabs_name=="have"){
                        App.main_view.removeHaveTab();
                    }
                    if (tabs_name=="want"){
                        App.main_view.removeWantTab();
                    }
                }
            };
            if (App.action=="new"){
                return [tool_add,tool_remove];
            }
            if (App.action=="edit"){
                return [tool_add,tool_remove,tool_save,tool_help];
            }
            if (App.action=="view"){
                return [tool_help];
            }
        },
        getHaveTabIndex:function () {
            var tab = $('#tbs-haves').tabs('getSelected');
            var index = $('#tbs-haves').tabs('getTabIndex',tab);
            return (index);
        },
        initHaveEvents:function (index) {
            if  (App.collections.haves.models[index]==undefined) {
                 App.collections.haves.models[index]=new App.Have();
            }
            var model_cur = App.collections.haves.models[index]
            var fields    = App.forms.have_arr[index].fields
            App.main_view.correctHaveCSS(index);
            //----UI field change-replace----------------------------------
            $("#hh-"+index+"-room").numberspinner({
                onChange: function(value){
                    //console.log("room="+value);
                    model_cur.attributes.room=value;
                },
                min: 1,max: 100,editable: true});
            $("#hh-"+index+"-floor, #hh-"+index+"-floor_house").numberspinner({
                onChange: function(value){
                    console.log("field="+$(this).attr("numberboxname")+"floor="+value);
                    model_cur.attributes[""+$(this).attr("numberboxname")]=value;
                },
                min: 1,max: 100, editable: true});
            $("#hh-"+index+"-year").numberspinner({
                onChange: function(value){
                    //console.log("year="+value);
                    model_cur.attributes.year=value;
                },
                min: 1900,max: 2050, editable: true});
            //----CHANGE EVENT SET------Link Form Field with Model-----------------
            for( var field in fields){
                if (["room","floor_house","year"].indexOf(field)==-1) { //--input field UI only
                    $("#hh-"+index+"-"+field).on("change",function(e){
                            //console.log("changed field "+$(this).prop("id")+" value="+$(this).val()+" type="+$(this).prop("type"))
                            if ($(this).prop("type")=="checkbox") {  //--torg,obmen_want,rent_want
                                model_cur.attributes[$(this).prop("name")] = $(this).prop("checked")?1:0;
                            } else {
                                model_cur.attributes[$(this).prop("name")] = $(this).val();
                            }
                        }
                    )
                }
            }
            console.log("initHaveEvents index="+index)
            $("#hh-"+index+"-rayon_id").on("change",function(e){
                var tab = $('#tbs-haves').tabs('getSelected');
                App.main_view.fillStreets();
            });
            $("#hh-"+index+"-obj_id").on("change",function(e){
                var tab = $('#tbs-haves').tabs('getSelected');
                var new_title=this.options[this.selectedIndex].text;
                console.log(new_title);
                $("#tbs-haves").find(".tabs-selected .tabs-inner .tabs-title").html(new_title)

            });


        },
        correctHaveCSS:function(index){
             //--UI style-------------------------
            $("#hh-"+index+"-room").attr("size",4).css({"font-size":"lage","font-weight":"bold"});
            $("#hh-"+index+"-year").attr("size",8);
            $("#hh-"+index+"-floor,"+"#hh-"+index+"-floor_house").attr("size",4);
             //--css correct-----------------------
             $(".bbf-field").css("margin","5px");
             $("#hh-"+index+"-price_estimate").attr("size",8).css("color","red");
             $("#hh-"+index+"-price_want").attr("size",8).css("color","green");
             $("#hh-"+index+"-house_n,"+"#hh-"+index+"-flat_n").attr("size",8);
             $("#hh-"+index+"-s_all,"+"#hh-"+index+"-s_live,"+"#hh-"+index+"-s_kux").attr("size",4);
             $("#hh-"+index+"-orientir,"+"#hh-"+index+"-dop,"+"#hh-"+index+"-tel_1").attr("size",75);

         },
        correctZayavkaCSS:function(){
            //--B------!!!!!!--activeadmin----!!!!!!!!
            $("#active_admin_content").css({"padding-top":0}) ;
            //--E-----!!!!!!--activeadmin----!!!!!!!!
            $("#zayavka_in_panel").css({"width":window.screen.width*0.92,"height":"100px"});
            $.parser.parse("#zayavka_top_panel");
            $("#z-id").css({"width":"100px"});
            $("#z-name").css({"width":"200px"});
            $("#z-tel_1,#z-tel_2").css({"width":"110px","type":"tel" }); // type="date"
            $("#z-created_at,#z-updated_at").css({"width":"110px","type":"date"}) ;
            $("#z-dop").css({"width":"400px"});
        },
        fillStreets:function(){
            var cur_have_item=this.getHaveTabIndex();
            App.collections.streets.getStreetsInRayon($("#hh-"+cur_have_item+"-rayon_id").val()).done(function(result){
                        console.log("getStreetsInRayon");
                        //console.log(result);
                        var select_items=App.collections.streets.getSelectOptions();
                        //console.log(select_items);
                        options_html="";
                        for (item in select_items){
                            options_html= options_html+"<option value='"+select_items[item].val+"'>"+select_items[item].label+"</option>"
                        }
                        //console.log(options_html)
                        console.log("cur_have_item="+cur_have_item)
                        $("#hh-"+cur_have_item+"-street_id").html(options_html);
                    }
            );

        },
        removeWantTab:function(){
            var index=App.main_view.cur_want_item
            var model_cur=App.collections.wants.models[index];
            if (confirm('Want remove id='+model_cur.get("id")+" index="+App.main_view.cur_want_item)==true){
                $("#tbs-wants").tabs("close",App.main_view.cur_want_item);

                $.ajax({
                    type: "DELETE",
                    url: model_cur.urlRoot+model_cur.get("id")

                }).done(function( msg ) {
                            alert( "Data Deleted: " + msg );
                            delete App.collections.wants.models[index];
                        }).fail(function(jqXHR, textStatus) {
                            alert( "Error delete: " + textStatus );
                        });;

            }
        },
        saveWantTab:function(){
            if (confirm('Wish save?')==true) {
                var tab_index=App.main_view.cur_want_item;
                App.collections.wishlists.models[tab_index].save()
                        .error(
                        function(e){
                            console.log(e)
                            alert('Error:'+e.responseText+'\n'+e.statue);
                        })
                        .success(
                        function(e){
                            console.log(e)
                            alert('Saved!')
                        });
            }
        },
        removeHaveTab:function(){
            var index=App.main_view.cur_have_item
            if (confirm('Have remove id='+App.collections.haves.models[index].get("id")+" index="+App.main_view.cur_have_item)==true){
                $("#tbs-haves").tabs("close",App.main_view.cur_have_item);

                $.ajax({
                    type: "DELETE",
                    url: App.collections.haves.models[index].urlRoot+App.collections.haves.models[index].get("id")

                }).done(function( msg ) {
                            alert( "Data Deleted: " + msg );
                            delete App.collections.haves.models[index];
                        }).fail(function(jqXHR, textStatus) {
                            alert( "Error delete: " + textStatus );
                        });;
//                        App.collections.haves.models[App.main_view.cur_have_item].destroy()
//                                .success(function(e){alert("Deleted...")})
//                                .error(function(e){alert("Error delete "+ e.statusText)})
             }
        },
        saveHaveTab:function(){
            if (confirm('Have save?')==true) {
                App.models.zayavka.pickAttributes('have');
                var tab_index=App.main_view.cur_have_item;
                if (App.collections.haves.models[tab_index].attributes.zayavka_id ==undefined) {
                    App.collections.haves.models[tab_index].attributes.zayavka_id=App.zayavka_id;
                }
                App.collections.haves.models[tab_index].save()
                        .error(
                        function(e){
                            console.log(e)
                            alert('Error:'+e.responseText+'\n'+e.statue);
                        })
                        .success(
                        function(e){
                            console.log(e)
                            alert('Saved!')
                        });

            }
        },
        addHaveTab:function(target){

            this.last_have_item++;
            this.cur_have_item=this.last_have_item;
            if (this.last_have_item >0){

                //---clear-field values--
                if ((target=="icon-add")&&(App.action=="edit")) {
                    //App.collections.haves.models.push(App.collections.haves.models[0]);
                    App.collections.haves.models.push(new App.Have());
                    App.collections.haves.models[this.last_have_item].unset("id");
                    App.collections.haves.models[this.last_have_item].set("zayavka_id",App.zayavka_id);
                    var fields = App.collections.haves.models[this.last_have_item].attributes;
                    for (f in fields){
                        log("New tab: f="+f+" fields[f]="+fields[f])
                        fields[f]=0
                    }
                }
            }
            var content_new_tab=this.addHaveForm();
            $('#tbs-haves').tabs('add',{
                title:'Object',
                content:content_new_tab,
                closable:false

            });


        },


        addHaveForm: function(){
            //----set Params----------------------
            App.Have_item_form.setN(this.cur_have_item);
            App.forms.have_arr[this.cur_have_item] = new Backbone.Form(App.Have_item_form);

            App.forms.have_arr[this.cur_have_item].model=App.collections.haves.models[this.cur_have_item]

            App.forms.have_arr[this.cur_have_item].options.model=App.collections.haves.models[this.cur_have_item]
            //Set the templates
            Backbone.Form.setTemplates(App.templates,App.forms.have_arr[this.cur_have_item]);

            var cur_have_form = App.forms.have_arr[this.cur_have_item];
            cur_have_form.schema.obj_id.options  =App.collections.objs.getSelectOptions();
            cur_have_form.schema.state_id.options=App.collections.states.getSelectOptions();
            cur_have_form.schema.rayon_id.options=App.collections.rayons.getSelectOptions();

            var have_item_html    = $(cur_have_form.render().el).html();
            var one_have_tpl_html= _.template( $("#one-have-tpl").html(), {n:1, have_item_html:have_item_html} );
            //----add to html--------------------
            //var tab = $('#tbs-haves').tabs('getSelected');  // get selected panel
            //tab.panel.content=one_have_tpl_html;
            return one_have_tpl_html;
        },
        initWantEvents:function (index) {
            this.showWantPanels(index);
            if (App.action=="new") {
                App.main_view.addWishAttribContent('obj_id','Object');
            }
        },
        addWantForm: function(){
            var want_item_html   ="";
            var one_want_tpl_html= _.template( $("#one-want-tpl").html(), {n:this.last_want_item,want_item_html:want_item_html} );
            return one_want_tpl_html;
        },
        addWantTab:function(target){
            this.last_want_item++;
            this.cur_want_item=this.last_want_item;
            var content_new_tab=this.addWantForm();
            $('#tbs-wants').tabs('add',{
                width: "500px",
                height: "auto",
                title:'Wish',
                content:content_new_tab,
                closable:false

            });
            if ((App.action=="edit")&&(target=="icon-add")){
                App.collections.wants.models.push(new App.Want());
                App.collections.wants.models[this.last_want_item].set("zayavka_id",App.zayavka_id);
                //---clear-field values--
                if ((target=="icon-add")) {

                    App.collections.wants.models[this.last_want_item].unset("id");

                }
            }

            this.wish_rows[this.cur_want_item]=0;
            this.cur_want_item=this.last_want_item;
        },
        showWantPanels:function(index){
            var content_html=_.template( $("#wish-from-content").html(),{n:index});
            console.log(index+") showWantPanels="+content_html);
            $("#wish-attrib-panel-"+index).panel(
                      {
                          width:"auto",
                          height:"45px",
                          fit:true,
                          title: 'Select wish from:',
                          content:content_html,
                          tools: [{
                              iconCls:'icon-add',
                              handler:function(){
                                  var cur_variant=$("#wish-variant-"+App.main_view.cur_want_item).val();
                                  //var cur_want_id= App.collections.wishlists.models[App.main_view.cur_want_item].attributes[0]["want_id"];
                                  var last_index=App.main_view.wish_rows[App.main_view.cur_want_item];
                                  if (last_index <=0) {//--add model when empty wishlist
                                      App.collections.wishlists.models.push(new App.Wishlist());//{field_cond:"",field_name:"",field_value:"",variant:cur_variant}
                                  }
                                  App.collections.wishlists.models[App.main_view.cur_want_item].attributes[last_index]={field_cond:"=",field_name:"?",field_value:"?",variant:cur_variant,zayavka_id:App.zayavka_id}
                                  App.main_view.addWishAttribContent();
                              }
                          }]
                      }
            );
            //--set variant
            $("#wish-variant-"+index).numberspinner({
                min: 1,
                max: 4,
                editable: true
            });
            //--set combobox-grid
            //App.collections.havefields.fillWishFromCmb(index)
            App.collections.havefields.fillHtmlSelect("wish-from-cmb-"+index,'field_name');

        },
        addWishAttribContent:function(param_field,param_field_name,params_set){
            var field,field_name;
            //--compile tpl
            var index= this.cur_want_item;
            if (param_field != undefined) {
                field      = param_field
                field_name = param_field_name
            } else {
                field      = $("#wish-from-cmb-"+index+" option:selected").val();
                field_name = $("#wish-from-cmb-"+index+" option:selected").text();
            }
            var field_html ="";

            field_name="<label>"+field_name+"</label><input disabled type='hidden' id='wi-"+this.wi+"-tb-"+index+"-wishlist-field_name' value='"+field+"' />"
            if (field ==0){
                alert("Select item from list!");
                return;
            }
            var hf_arr=App.collections.havefields.where({'field_name':field});
            var field_ui_type=hf_arr[0].attributes.field_ui_type;
            var id_str="wi-"+this.wi+"-tb-"+index+"-wishlist-"+field;
            var cond_id="wi-"+this.wi+"-tb-"+index+"-wishlist-cond-"+field
            var row_id_str="row_id="+this.wish_rows[index];
            var field_attr_row_id = '$(this).attr("row_id")';
            var spiner_to_model_str="App.collections.wishlists.setToModel("+'"'+id_str+'"'+");";
            var spiner_on_change_str="onChange:function(val){"+spiner_to_model_str+"}";

            if (field_ui_type == 'select') {
                field_html ="<select id='"+id_str+"' "+row_id_str+"><option value=0>Select value...</option></select>";
            }
            if (field_ui_type == 'input') {
                field_html ="<input id='"+id_str+"' type='text' size='10' "+row_id_str+" />";
            }
            if (field_ui_type == 'spinner') {
                field_html="<input id='"+id_str+"' class='easyui-numberspinner' data-options='min:1,max:100,required:true,"+spiner_on_change_str+"' "+row_id_str+" />"
            }
            var wish_f_tpl = _.template ($("#wish-field-content").html(),{n:index,wi:this.wi,row_id:this.wish_rows[index],field:field,field_name:field_name,field_html:field_html});
            //--ad to content panel
            $("#wish-attrib-content-"+index).append(wish_f_tpl);


            //---UI-LINK-pars--------------------
            if (field_ui_type == 'spinner'){
                $.parser.parse('#wish-attrib-content-'+index);
            }

            //--fill select fields
            if (field_html.search(/select/) != -1){
                this.fillWishSelectField(field,index, this.wi);
            }
            //----ADD first bind EVENT for linked fields---
            if (field=="obj_id"){
                $("#"+id_str).on("change",function(e){
                    var cur_variant=$("#wish-variant-"+App.main_view.cur_want_item).val();
                    var last_index=App.main_view.wish_rows[App.main_view.cur_want_item];
                    App.collections.wishlists.models[App.main_view.cur_want_item].attributes[last_index]={field_cond:"",field_name:"",field_value:"",variant:cur_variant,zayavka_id:App.zayavka_id}
                    var obj_code=$(this).val()
                    if (obj_code == 1){//---money
                        App.main_view.addWishAttribContent('price_want','Price');
                    }
                    if ((obj_code == 2)||(obj_code == 3)||(obj_code == 4)){//---kvartirs
                        App.main_view.addWishAttribContent('room','Room');
                    }
                })
            }
            //---bind Attr from FORM to MODEL

            $("#"+cond_id).on("change",function(e){
                var dom_id=$(this).attr("id")
                console.log("BIND TO MODEL id="+dom_id);
                App.collections.wishlists.setToModel(dom_id)
            });
            $("#"+id_str).on("change",function(e){
                var dom_id=$(this).attr("id");
                App.collections.wishlists.setToModel(dom_id)
            });
            //---EDIT bind VALUE for edit-view action
            if (params_set != undefined) {
                console.log("params_set id_str="+id_str)
                console.log("params_set cond_id="+cond_id)
                console.log("params_set field_value="+params_set.field_value)
                console.log("params_set params_set.field_cond="+params_set.field_cond)
                $("#"+id_str).val(params_set.field_value)
                $("#"+cond_id).val(params_set.field_cond)
            }
            this.wi++;
            this.wish_rows[index]++;
        },
        delWishFieldContent: function(field,index,wi) {
            $("#wi-"+wi+"-tb-"+index+"-wish-field-"+field+"-content").remove();
        },
        fillWishSelectField:function (field,index,wi) {
            console.log("Fill select wish field "+field);
            var dom_id ="wi-"+wi+"-tb-"+index+"-wishlist-"+field;
            if (field == "rayon_id") {
                App.collections.rayons.fillHtmlSelect(dom_id);
            }
            if (field == "obj_id") {
                App.collections.objs.fillHtmlSelect(dom_id);
            }
            if (field == "state_id") {
                App.collections.states.fillHtmlSelect(dom_id);
            }
            if (field == "rent_want") {
                App.collections.rents.fillHtmlSelect(dom_id);
            }
        },
        render: function(){

                    //Set the templates
                    Backbone.Form.setTemplates(App.templates,App.forms.zayavka_form);
            //console.log("RENDER "+App.action);
            //console.log(App.collections.infoSources.getSelectOptions());
                    App.zayavka_form.model=App.models.zayavka;
                    App.zayavka_form.fields=App.models.zayavka.zayavka_fields;
                    App.zayavka_form.schema.info_source_id.options=App.collections.infoSources.getSelectOptions();
                    App.zayavka_form.schema.info_type_id.options=App.collections.infoTypes.getSelectOptions();
                    App.zayavka_form.schema.status_id.options=App.collections.statuses.getSelectOptions();
                    var data_tpl={};
                    if (App.action=="new"){
                        data_tpl={action_new:1,action:"new"}
                    }
                    if (App.action=="edit"){
                        data_tpl={action_update:1,action:"edit"}
                    }

                    var zayavka_tools_options= HB.compile($("#zayavka_panel_options").html())(data_tpl);
                    var zayavka_item_html = $(App.zayavka_form.render().el).html(); //"<h2>Form's place</h2>"//

                    var haves_tpl_html   = _.template( $("#haves-tpl").html(), {
                                                one_have_tpl_html:""}
                    );
                    var one_want_tpl_html="";
                    var wants_tpl_html   = _.template( $("#wants-tpl").html(), {one_want_tpl_html:one_want_tpl_html} );

                    var zayavka_tpl_html = _.template( $("#zayavka-tpl").html(), {
                                                action:App.action,
                                                zayavka_tools_options:zayavka_tools_options,
                                                zayavka_item_html:zayavka_item_html,
                                                haves_tpl_html:haves_tpl_html,
                                                wants_tpl_html:wants_tpl_html}
                    );

                    $("#zayavka").html( zayavka_tpl_html );
                    this.correctZayavkaCSS();


        }
    });

    //------------------MAIN------------
    App.router = new App.Router();
    Backbone.history.start({pushState: true,root:App.baseUrl});//Backbone.history.start({ pushState: true, root: app.root });
     //--collections---
    App.collections.infoSources=new  App.InfoSources();
    App.collections.infoSources.reset(eval('<%=@info_sources; %>'.replace(/&quot;/g,'"')));

    App.collections.infoTypes=new App.InfoTypes();
    App.collections.infoTypes.reset(eval('<%=@info_types; %>'.replace(/&quot;/g,'"')));

    App.collections.objs   = new App.Objs();
    App.collections.states = new App.States();
    App.collections.rayons = new App.Rayons();
    App.collections.streets= new App.Streets();
    App.collections.statuses=new App.Statuses();
    App.collections.havefields=new App.HaveFields();
    App.collections.rents=new App.Rents();
    App.collections.wishlists=new App.Wishlists({zayavka_id:App.zayavka_id});

     App.collections.haves   =new App.Haves();
     haves_str=eval('<%=@haves; %>'.replace(/&quot;/g,'"'));
     App.collections.haves.reset(haves_str);

     App.collections.wants   =new App.Wants();
     wants_str=eval('<%=@wants; %>'.replace(/&quot;/g,'"'));
     App.collections.wants.reset(wants_str);

     wl_str=eval('<%=@wishlists; %>'.replace(/&quot;/g,'"'))
     App.collections.wishlists.reset(wl_str);

    App.collections.objs.reset(eval('<%=@objs; %>'.replace(/&quot;/g,'"')));
    App.collections.states.reset(eval('<%=@states; %>'.replace(/&quot;/g,'"')));
    App.collections.rayons.reset(eval('<%=@rayons; %>'.replace(/&quot;/g,'"')));

    App.collections.havefields.reset(eval('<%=@havefields; %>'.replace(/&quot;/g,'"')));
    App.collections.statuses.reset(eval('<%=@statuses; %>'.replace(/&quot;/g,'"')));
     App.collections.rents.reset(eval('<%=@rents; %>'.replace(/&quot;/g,'"')));
    //console.log("objs");
    //console.log(App.collections.objs);

    App.models.zayavka  = new App.Zayavka();
    App.models.have     = new App.Have();
    App.models.want     = new App.Want();
    App.models.wishlist = new App.Wishlist();

    App.collections.haves.model=App.models.have
    App.collections.wants.model=App.models.want

    App.models.zayavka.show(App.action);
 });//---ready
</script>

<!--  ******************************TEMPLATES****************************** -->
<script type="text/x-handlebars-template" id="zayavka_panel_options">
  {{#ifCond action "edit"}}
  {
  iconCls:'icon-save',
    handler:function(){
     App.models.zayavka.pickAttributes('zayavka');
     App.models.zayavka.save()
        .error(
            function(e){
                console.log(e)
                alert('Error:'+e.responseText+'\n'+e.statue);
                })
        .success(
            function(e){
                console.log(e)
                alert('Saved!')
            })
            }
  },
  {{/ifCond}}
  {
  iconCls:'icon-help',
  handler:function(){alert('history')}
  }
</script>
<script type="text/template" id="zayavka-top-content-tpl">
  {{#ifCond action "new"}}
  {{/ifCond}}
</script>
<script type="text/template" id="zayavka-tpl">
 <!--<div class="Columns">-->
 <div id="zayavka_top_panel">
  <div id="zayavka_in_panel"style="height: 120px;" class="easyui-panel" title="Zayavka"  data-options="fit:true,collapsible:true,tools:[
			{{zayavka_tools_options}}
			]">
  {{zayavka_item_html}}
  </div>
  <!--</div>-->
</div>
  <table width="98%">
    <tr>
      <td width="50%">
        <div class="panel">
          <h3>Haves</h3>

          {{haves_tpl_html}}
        </div>
      </td>
      <td width="50%">
        <div class="panel">
          <h3>Wants</h3>

          {{wants_tpl_html}}
        </div>
      </td>
    </tr>
  </table>


  <fieldset id="zayavka_save_btn" class="actions">
  <ol>
    <input type="submit" value="Save zayavka" id="zayavka_save" name="commit">
    <a href="/admin/zayavkas">Cancel</a>
  </ol>
</fieldset>

</script>
<!--  ******************************TEMPLATES  HAVES****************************** -->
<script type="text/template" id="haves-tpl">
 <div style="width:100%;height:100%">
  <!--<input type="submit" value="Add (+)" id="add_have" style="margin-left:35px;margin-bottom:10px">-->
   <div id="tbs-haves"  class="easyui-tabs" >
     <div title="Object" style="padding:10px;background-color:#FFFFDD" >
       {{one_have_tpl_html}}
     </div>
   </div>

 </div>
</script>
<!--  ******************************TEMPLATES  ONE-HAVES****************************** -->
<script type="text/template" id="one-have-tpl">
<div id="have-item-{{n}}" class="have-item">
  <label>Предложение:</label>
  {{have_item_html}}
  <!--<input type="submit" value="Del (x)" id="delete-have_{{n}}">-->
</div>
</script>
<!--  ******************************TEMPLATES WANTS****************************** -->
<script type="text/template" id="wants-tpl">
  <div>
  <!--<input type="submit" value="Add ->" id="add_want" style="margin-left:35px;margin-bottom:10px">-->

  <div id="tbs-wants" class="easyui-tabs" style="width:550px;height:auto" >
    <div title="Wish" style="padding:10px;background-color:#FFFFDD">
      <p style="font-size:14px">jQuery EasyUI framework help you build your web page easily.</p>
      title
      {{one_want_tpl_html}}
    </div>
  </div>

  </div>
</script>
<!--  ******************************TEMPLATES  ONE-WANT****************************** -->
<script type="text/template" id="one-want-tpl">
  <div id="want-item-{{n}}" class="want-item"  style="width: 500px; height: auto;">
    <label>Спрос:</label>
    <div id="wish-attrib-panel-{{n}}" style="padding:5px;" >
      {{want_item_html}}

    </div>
    <hr>
    <div id="wish-attrib-content-{{n}}" style="padding:5px;">
    </div>
  </div>
</script>

<script type="text/template" id="wish-from-content">
  <label>Параметр:</label>
  <select id="wish-from-cmb-{{n}}"><option id="0">Выберите параметр...</option></select>
  <label>Вариант:</label><input type="text" id="wish-variant-{{n}}" size=3 value=1 ></input>
</script>

<script type="text/template" id="wish-field-content">
  <div id="wi-{{wi}}-tb-{{n}}-wish-field-{{field}}-content" style="display:inline;width:100%;height:150px;margin:5px;background-color:#FFFFDD">
   <table style="background-color:#dddddd">
     <tr>
       <td width='20%'>{{field_name}}</td>
       <td width='30%'>
         <select id="wi-{{wi}}-tb-{{n}}-wishlist-cond-{{field}}" row_id='{{row_id}}'>
         <option value="=" selected>Равно</option>
         <option value="<>">Не равно</option>
         <option value=">=">Больше или равно</option>
         <option value="<=">Меньше или равно</option>
         <option value=">">Больше</option>
         <option value="<">Меньше</option>
        </select></td>
       <td width='30%'>
         {{field_html}}
       </td>
       <td width="10%">
         <a href="javascript:App.main_view.delWishFieldContent('{{field}}',{{n}},{{wi}})" id="wi-{{wi}}-tb-{{n}}-wish-field-{{field}}-del" >Удалить</a>
       </td>
     </tr>
   </table>

</script>
<!--  ******************************HTML*********************************** -->
<div id="zayavka"></div>
<div id="dd"></div>
<div id="win"></div>